/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align:left
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.vlog-entry {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vlog-entry h2 {
    margin-top: 0;
    color: #333;
}

.date {
    font-style: italic;
    color: #666;
}

.article-content {
    margin: 20px 0;
}

.article-content p {
    margin-bottom: 15px;
}

.description {
    margin: 10px 0;
}

.more-text {
    display: none;
}

.toggle-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.toggle-btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsivo */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    .vlog-entry {
        padding: 15px;
    }

    .video-container iframe {
        width: 100%;
        height: 250px;
    }
}
